[Unit]
Description=System-Health Fan Governor
Documentation=man:systemd(1)
After=default.target
PartOf=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/tempmon-governor.sh
Restart=always
RestartSec=2

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
SystemCallFilter=@system-service

[Install]
WantedBy=default.target
